{% load static %}

<!-- Footer -->
<footer class="text-dark py-4" style="background-color: rgb(252, 247, 248);">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo Section -->
            <div class="col-12 col-md-3 text-center mb-3 mb-md-0">
                <img src="{% static 'image/brand.png' %}" alt="Brand Logo" class="img-fluid rounded-circle" style="width: 120px; height: auto;">
            </div>

            <!-- Address Section -->
            <div class="col-12 col-md-5 text-center text-md-start">
                <h5 class="mb-3"><i class="fa-solid fa-map-marker-alt text-danger"></i> Our Locations</h5>
                <p class="mb-1"><i class="fa-solid fa-location-dot text-danger"></i> <a href="https://maps.app.goo.gl/dB78hXY1xP1aN97q9" class="text-dark text-decoration-none">Rruga "Jakov Mile", Fier</a></p>
                <p class="mb-1"><i class="fa-solid fa-location-dot text-danger"></i> <a href="https://maps.app.goo.gl/Etk198oJebivkFc3A" class="text-dark text-decoration-none">Rruga "Xoxi Andoni", Fier</a></p>
                <p class="mb-1"><i class="fa-solid fa-location-dot text-danger"></i> <a href="https://maps.app.goo.gl/j5S1ergXnndoTSgq8" class="text-dark text-decoration-none">Sh8 km 18, Roskovec 9302</a></p>
            </div>

            <!-- Social Links Section -->
            <div class="col-12 col-md-4 text-center text-md-start">
                <h5 class="mb-3"><i class="fa-solid fa-share-nodes text-primary"></i> Connect With Us</h5>
                <p class="mb-1">
                    <a href="https://www.instagram.com/hyka.outlet/" target="_blank" class="text-decoration-none text-dark">
                        <i class="fa-brands fa-instagram text-danger"></i> Instagram
                    </a>
                </p>
                <p class="mb-1">
                    <a href="https://www.facebook.com/HykaOutlet/" target="_blank" class="text-decoration-none text-dark">
                        <i class="fa-brands fa-facebook text-primary"></i> Facebook
                    </a>
                </p>
                <p class="mb-1">
                    <a href="https://www.tiktok.com/@xhes122/" target="_blank" class="text-decoration-none text-dark">
                        <i class="fa-brands fa-tiktok"></i> TikTok
                    </a>
                </p>
                <p class="mb-1">
                    <a href="https://wa.me/+355683102476/" target="_blank" class="text-decoration-none text-dark">
                        <i class="fa-brands fa-whatsapp text-success"></i> WhatsApp
                    </a>
                </p>
            </div>
        </div>
        <hr class="my-4 border-dark">
        <p class="text-center small mb-0 text-dark">© 2025 Firma Hyka. All Rights Reserved.</p>
    </div>
</footer>
